@font-face {
   font-family: 'Articulat CF Light';
   font-display: swap;
   src: url('file:///C:/Users/adrian/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-07-30_212600/fonts/Articulat%20CF%20Light/font.ttf');
}
